<sample-tag>

    <h1>Sample Tag Counted { state.counter } Updates</h1>

    <script>
        export default {

            onUpdated() {

                this.actions.test(this.root);
            }
        }
    </script>
</sample-tag>